.planSection {
  width: 100vw;
  height: auto;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}



.cardContainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
 
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}
